$background-color: #f7ebe1;
$header-color: #fcddc6;
$white: #fff;
$accent-color: #cf5a11;
$light-accent-color: #e49c6f;
$dark-accent-color: #2e2601;

// General styles
* {
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.header-page {
    background-color: $header-color ;
}

hr {
    border: none; 
    background-color: $accent-color; 
    height: 2px; 
   }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        background-color: $accent-color;
        color: $white;
        font-size: 40px;
        padding: 16px;
        margin-left: 10px;
        cursor: pointer;
    }
    .main-nav {
        display: flex;
        list-style: none;
        padding-left: 0;
        &-item {
            margin-right: 70px;
        }
        &-link{
            text-decoration: none;
            background-color: #fff;
            color: $accent-color;
            font-weight: 600;
            border: 1px solid midnightblue ;
            border-radius: 10px;
            padding: 17px;
            margin-top: 6px;
        }
    }
    .cart{
        display: flex;
        align-items: center;
        margin-left: 70px;
        &-counter {
            font-weight: 600;
            background-color: $accent-color;
            color: #fff;
            font-size: 22px;
            margin-right: 10px;
            padding: 10px 15px;
            border-radius: 0.8rem;
        }
        cursor: pointer;
    }
}

// Specific Styles

.background {
    // background: url('/src/img/background-handmade.jpg');
    background-position: center;
    .navigation {
        .brand-name {
            text-align: initial;
            color: $dark-accent-color;
        }
        .menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0 auto 1%;
            list-style: none;
            

            &-item {
                width: 200px;
                background: $light-accent-color;
                padding: 3px;
                border-radius: 14%;
                font-size: 30px;
                font-weight: 600;
                text-align: center;
            }
            &-link {
                text-decoration: none;
                color: $dark-accent-color;
                :hover {
                    text-decoration: underline;
                } 
            }
        }
    }
    .description {
        &-title {
            font-size: 2.2rem;
            text-align: end;
        }
        &-content {
            font-size: 30px;
        }
    }
    .hand-made_about {
        display: flex;
        align-items: center;
    
        .text-about  {
            margin-left: 50px;
        }
    }
}

.customers {
    &-title{
        font-size: 50px;
        text-align: center;
    }
    .shop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 5px;
        margin: 0 auto 1%;
        list-style: none;
        border: 1px dashed $accent-color;
        border-radius: 6px;
        padding: 15px;
        overflow: hidden;
        text-align: center;
    }

}

.about {
    margin: 20px 5px;
    &_1 {
        display: flex;
        align-items: center;
        margin: 20px 5px;
        &-content {
            font-size: 22px;
            margin-right: 20px;
        }
    }
    &_2 {
        display: flex;
        &-content{
            margin-left: 20px;
            font-size: 22px;
        }
    } 
}

.contacts {
    .join {
        text-align: center;
        background-color: $header-color;
        color: $dark-accent-color;
        font-size: 30px;
    }
}





.s_icon_32
{
  position: relative;
  background-repeat: no-repeat;
  background-position: center left;
}
.s_icon_32 {padding-left: 42px !important;}
.s_icon_32 .s_icon
{
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.s_icon_32 .s_icon {
  width: 32px;
  height: 32px;
  margin-top: -16px;
}










