* {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header-page {
  background-color: #fcddc6;
}

hr {
  border: none;
  background-color: #cf5a11;
  height: 2px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  background-color: #cf5a11;
  color: #fff;
  font-size: 40px;
  padding: 16px;
  margin-left: 10px;
  cursor: pointer;
}

header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0;
}

header .main-nav-item {
  margin-right: 70px;
}

header .main-nav-link {
  text-decoration: none;
  background-color: #fff;
  color: #cf5a11;
  font-weight: 600;
  border: 1px solid midnightblue;
  border-radius: 10px;
  padding: 17px;
  margin-top: 6px;
}

header .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
  cursor: pointer;
}

header .cart-counter {
  font-weight: 600;
  background-color: #cf5a11;
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 0.8rem;
}

.background {
  background-position: center;
}

.background .navigation .brand-name {
  text-align: initial;
  color: #2e2601;
}

.background .navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 1%;
  list-style: none;
}

.background .navigation .menu-item {
  width: 200px;
  background: #e49c6f;
  padding: 3px;
  border-radius: 14%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.background .navigation .menu-link {
  text-decoration: none;
  color: #2e2601;
}

.background .navigation .menu-link :hover {
  text-decoration: underline;
}

.background .description-title {
  font-size: 2.2rem;
  text-align: end;
}

.background .description-content {
  font-size: 30px;
}

.background .hand-made_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .hand-made_about .text-about {
  margin-left: 50px;
}

.customers-title {
  font-size: 50px;
  text-align: center;
}

.customers .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 5px;
  margin: 0 auto 1%;
  list-style: none;
  border: 1px dashed #cf5a11;
  border-radius: 6px;
  padding: 15px;
  overflow: hidden;
  text-align: center;
}

.about {
  margin: 20px 5px;
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}

.about_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 5px;
}

.about_1-content {
  font-size: 22px;
  margin-right: 20px;
}

.about_1 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.about .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.about .flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.about .flip-card-front, .about .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.about .flip-card-front {
  background-color: #bbb;
  color: black;
}

.about .flip-card-back {
  background-color: dodgerblue;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.about_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_2-content {
  margin-left: 20px;
  font-size: 22px;
}

.contacts .join {
  text-align: center;
  background-color: #fcddc6;
  color: #2e2601;
  font-size: 30px;
}

.all-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.all-footer .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */