// Colors
$background-color: #f7ebe1;
$header-color: #fcddc6;
$white: #fff;
$accent-color: #cf5a11;
$light-accent-color: #e49c6f;
$dark-accent-color: #2e2601;

// General styles
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.under {
    background-color: $header-color;
    height: 18px;
}
.wrapper {
    max-width: 1050px;
    margin: 0 auto;
}
hr {
    border: none; 
    background-color: $accent-color; 
    height: 2px; 
}

// For all Buttons 
button {
    border-color: $dark-accent-color;
    border-radius: 20px;
    padding: 2rem 1rem;
    font-size: 30px;
    color: $dark-accent-color;
    box-shadow: 0 0 40px 40px $header-color inset, 0 0 0 0 $light-accent-color;
    transition: all 150ms ease-in-out;
    &:hover {
        box-shadow: 0 0 10px 0 $light-accent-color inset, 0 0 10px 4px $light-accent-color;
    }
    cursor: pointer;
}

.header-page {
    background-color: $header-color;
    border-radius: 8px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            background-color: $accent-color;
            font-size: 40px;
            padding: 16px;
            margin-left: 10px;
            cursor: pointer;
            &_link {
                text-decoration: none;
                color: $white;
            }
        }
        .main-nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;
            font-size: 20px;
            padding-left: 0;
            margin-left: 70px;
            &-item {
                margin-right: 70px;
            }
            &-link {  
                text-decoration: none;
                background-color: #fff;
                color: $dark-accent-color;
                font-weight: 600;
                border: 1px solid $dark-accent-color ;
                border-radius: 10px;
                padding: 17px;
                margin-top: 6px;
            }
        }
        .cart{
            margin-left: 70px;
            &_link {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                text-decoration: none;
                color: $dark-accent-color;
            }
            &-counter {
                font-weight: 600;
                color: $dark-accent-color;
                font-size: 35px;
                margin-right: 10px;
                border: 1.2px solid $dark-accent-color;
                padding: 15px 20px;
                border-radius: 0.8rem;
            }
        }
    }
}
// Specific Styles
.background {
    background-position: center;
    .navigation {
        .brand-name {
            text-align: center;
            font-size: 2.6rem;
            color: $dark-accent-color;
        }
        .menu {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 15px 0px 45px auto;
            list-style: none;
            &-item {
                width: 200px;
                background: $light-accent-color;
                padding: 5px 10px;
                border-radius: 34px;
                font-size: 22px;
                font-weight: 750;
                text-align: center;
            }
            &-link {
                text-decoration: none;
                color: $dark-accent-color;
                :hover {
                    text-decoration: dotted;
                    text-decoration-color: $white;
                } 
            }
        }
    }
    .description {
        &-title {
            font-size: 2.2rem;
            text-align: end;
        }
        &-content {
            font-size: 30px;
        }
    }
    .hand-made_about {
        display: flex;
        align-items: center;
        .text-about  {
            margin-left: 50px;
        }
    }
}

.customers {
    &-title{
        font-size: 50px;
        text-align: center;
    }
    .shop {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 5px;
        margin: 0 auto 1%;
        list-style: none;
        border: 1px dashed $accent-color;
        border-radius: 6px;
        padding: 15px;
        overflow: hidden;
        text-align: center;
    }

}

// !!!!!!____ ABOUT includes flip-cards____ >>>>>
.about {
    // margin: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .about-1 {
        background-color: transparent;
        width: 500px;
        height: 300px;
        perspective: 1000px;
        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            &-front {
                background-color: #bbb;
                color: black;
            }
        }
        &-back {
            background-color: $header-color;
            color: $dark-accent-color;
            transform: rotateY(180deg);
        }
    }
    .about-1:hover .about-1-inner {
        transform: rotateY(180deg);
    }
    .about-1-front, .about-1-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .about-2 {
        background-color: transparent;
        width: 500px;
        height: 300px;
        perspective: 1000px;

        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            
            &-front {
                background-color: #bbb;
                color: black;
            }
        }
        &-back {
            background-color: $header-color;
            color: $dark-accent-color;
            transform: rotateY(180deg);
        }
    }
    .about-2:hover .about-2-inner {
        transform: rotateY(180deg);
    }
    .about-2-front, .about-2-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }
}



.contacts {
    .join {
        text-align: center;
        background-color: $header-color;
        color: $dark-accent-color;
        font-size: 30px;
    }
}

.all-footer {
    margin-top: 120px;
    display: flex;
    justify-content: space-around;


    .main-block{
        display: flex;
    }
    // .our-contacts{
    //     display: flex;
    // }
}

// Styles For Pages
.handmade-logo {
    img {
        height: 75px;
        width: 500px;
        background-size: cover;
    }
}

.page1, .page2, .page3, .page4, .page5{
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    text-align: center;

    img {
        width: 320px;
        height: 230px;
        margin-right: 15px;
        border: 2px solid $accent-color;
    }
    p{
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
}



// Cart Page
.cart_page {
    height: 800px;
}
// Copied from Sattva style sheet

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"), url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bubblegum Sans', cursive;
    src: url("Fonts/Bubblegum Sans.woff") format("woff");
    font-weight: normal;
  }

// Styling
.nav ul {
  font-family: "Bubblegum Sans";
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  font-family: "Bubblegum Sans";
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Bubblegum Sans";
  color: #777;
  padding: 0 5%;
  font-size: 1.5em;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.store-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: "Booter - Zero Zero";
  font-weight: normal;
  color: white;
}

.store-name-large {
  font-size: 8em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0 1.5em;
}

.content-section {
  margin: 2em;
  margin-bottom: 3em;
}

.section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
  font-family: "Bubblegum Sans";
}

.about-store-image {
  float: left;
  height: 220px;
  width: 220px;
  margin: 20px;
  border-radius: 30%;
}
.home-page-image {
  float: left;
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 50%;
}

.main-footer {
  background-color: $light-accent-color;
  color: white;
  padding: .25em 0;
  margin: 0 auto;
  margin-bottom: 0;
  max-height: 90px;
}

.main-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer-container ul {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
}

.footer-nav li {
  padding: 0 .5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.btn-header {
  margin: .5em 15% 2em 15%;
  color: white;
  border: 2px solid $light-accent-color;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0;
  font-size: 1.5em;
  font-weight: lighter;
  padding-left: 2em;
  padding-right: 2em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-play {
  display: block;
  margin: 0 auto;
  color: $light-accent-color;
  font-size: 4em;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  text-align: center;
}

.btn-primary {
  color: white;
  background-color: $accent-color;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: $light-accent-color;
}

.tour-row {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border: none;
}

.tour-item {
  display: inline-block;
  padding-right: .5em;
}

.tour-date {
  color: #555;
  width: 11%;
  font-weight: bold;
}

.tour-city {
  width: 24%;
}

.tour-arena {
  width: 42%;
}

.tour-btn {
  max-width: 19%;
}

.shop-item {
  margin: 30px;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  box-sizing: border-box;
  border-radius: 8%;
}
.phone-stands {
  height: 25em;
}
.flowers{
  height: 15em;
}

.shop-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.shop-item-price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #333;
}

.shop-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item {
  width: 45%;
}
.cart-item-key {
  width: 0;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.75em;
}









